<% if @now_playing_user %>
現在 <%= @now_playing_user.player_name %>さんがプレイ中です
<% else %>
現在は誰もプレイしていません
<% end %>

<% unless @now_playing_user %>
<%= form_tag("/manage/start_playing", method: "post") do %>
  <%= text_field_tag(:name) %>
	<%= submit_tag("start!") %>
<% end %>
<% end %>


<%= form_tag("/manage/stop_playing", method: "post") do %>
  <%= submit_tag("プレイ終了") %>
<% end %>
<br>
<a href="/manage/delete_users">ユーザー削除</a>
